{% extends '@Contao/block_unsearchable' %}

{% block content %}

    {% if caseText is defined %}
        <div class="cebb-case-text">
            {{ caseText }}
        </div>
    {% endif %}

    {% if messages is defined %}
        <div class="cebb-messages">
            {{ messages|raw }}
        </div>
    {% endif %}

    {% if form is defined %}
        {% if canRegister %}
            {{ form|raw }}
        {% endif %}
    {% endif %}

{% endblock %}
